---
# Only the main Sass file needs front matter (the dashes are enough)
---
// import vendor files
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/normalize-css/normalize.css";

@charset "utf-8";
$web-font-path: "https://fonts.googleapis.com/css?family=Raleway:400,300,700,600,500" !default;
@import url($web-font-path);
$font-awesome: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import url($font-awesome);

// Import commonality partials
@import
  "variables",
  "base",
  "grid",
  "syntax-highlighting",
  "buttons"
;

// Use media queries like this, with vars from _grid.scss:
// @include media-query($smallScreen) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($gridvar) {
  @media screen and (max-width: ($gridvar + px)) {
    @content;
  }
}

// import section and layout partials
@import
  "layout",
  "sections/header",
  "sections/footer",
  "sections/sidenav",
  "pages/home",
  "pages/blog",
  "pages/post"
;
