<section class="pre-footer bg-lt-navy">
  <div class="row">
    <div class="small-5 columns">
      <p class="alpha">Take a Test Drive!</p>

      <p>See how LookBookHQ can help you increase engagement with your content by 3X!</p>

      <a class="btn btn-solid-navy btn-large" href="{{ "/demo" | prepend: site.baseurl }}">Take a Demo</a>
    </div>

    <div class="small-7 columns"></div>

    <img id="footerImg" class="fade-in-element" src="{{ site.baseurl }}/assets/demo.png" alt="Take a Test Drive">
  </div>
</section>

<footer class="site-footer bg-navy">

  <a class="site-lockup footer" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/logo-white.png" alt="{{ site.title }}">
    <span class="hidden">{{ site.title }}</span>
  </a>

  <div class="row">
    <div class="small-3 columns">
      <a href="/solution-1"><strong>Solution</strong></a>
      <a href="http://lookbookhq.com/solution-1/#effective">Content Experiences</a>
      <a href="http://lookbookhq.com/solution-1/#engagement">Engagement Metrics</a>
      <a href="http://lookbookhq.com/solution-1/#intergrations">Seamless Integrations</a>
      <a href="http://lookbookhq.com/solution-1/#interface">Intuitive Interface</a>
    </div>

    <div class="small-9 columns">
      <div class="row">
        <div class="small-2 columns">
          <a href="/about-lookbookhq"><strong>About</strong></a>
          <a href="http://lookbookhq.com/about-lookbookhq/#leadership">Leadership</a>
          <a href="http://lookbookhq.com/about-lookbookhq/#jobs">Careers</a>
          <a href="http://lookbookhq.com/about-lookbookhq/#contactus">Contact</a>
        </div>

        <div class="small-2 columns">
          <a href="/services-1"><strong>Services</strong></a>
        </div>

        <div class="small-2 columns">
          <a href="/resources"><strong>Resources</strong></a>
        </div>

        <div class="small-3 columns">
          <a href="/blog"><strong>Blog</strong></a>
        </div>
      </div>
    </div>
  </div>

  <p>© 2015 LookBookHQ Inc. <br>
    <a href="/terms-of-service">Terms Of Service</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="/privacy-policy">Privacy Policy</a>
  </p>
</footer>
