<div id="recommend" class="row">
</div>
{% if page_type != "thanks" %}
<section class="pre-footer bg-lt-navy">
  <div class="row xsmall-text-center small-text-left">
    <div class="xsmall-12 small-5 columns">
      <p class="alpha">Take a Test Drive!</p>

      <p>See how LookBookHQ can help you increase engagement with your content by 3X!</p>

      <a class="btn btn-solid-navy btn-large" href="{{ "/demo" | prepend: site.baseurl }}">Take a Demo</a>
    </div>

    <div class="xsmall-12 small-7 columns"></div>
    <img id="footerImg" class="fade-in-element" src="{{ site.baseurl }}/assets/demo.png" alt="Take a Test Drive">
  </div>
</section>
{% endif %}
<footer class="site-footer bg-navy">

  <div class="row site-footer-top">
    <div class="xsmall-12 small-7 columns xsmall-text-center small-text-left">
      <a class="site-lockup footer" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/logo-white.png" alt="{{ site.title }}">
        <span class="hidden">{{ site.title }}</span>
      </a>
    </div>

    <div class="xsmall-12 small-5 columns xsmall-text-center">
      <nav class="footer-social-media-links">
        <a href="https://twitter.com/lookbookhq" target="_blank" class="fa fa-twitter">
          <span class="hidden">Twitter</span>
        </a>
        <a href="https://www.facebook.com/LookBookHQ?ref=hl" target="_blank" class="fa fa-facebook">
          <span class="hidden">Facebook</span>
        </a>
        <a href="https://www.linkedin.com/company/lookbookhq" target="_blank" class="fa fa-linkedin">
          <span class="hidden">LinkedIn</span>
        </a>
      </nav>
    </div>
  </div>

  <div class="row site-footer-links">
    <div class="xsmall-12 small-3 columns xsmall-text-center small-text-left">
      <div class="link-wrapper">
        <a href="{{ "/solution" | prepend: site.baseurl }}"><strong>Solution</strong></a>
      </div>
      <div class="link-wrapper">
        <a href="{{ "/solution/#effective" | prepend: site.baseurl }}">Content Experiences</a>
      </div>
      <div class="link-wrapper">
        <a href="{{ "/solution/#engagement" | prepend: site.baseurl }}">Engagement Metrics</a>
      </div>
      <div class="link-wrapper">
        <a href="{{ "/solution/#integrations" | prepend: site.baseurl }}">Seamless Integrations</a>
      </div>
      <div class="link-wrapper">
        <a href="{{ "/solution/#interface" | prepend: site.baseurl }}">Intuitive Interface</a>
      </div>
    </div>

    <div class="xsmall-12 small-9 columns xsmall-text-center small-text-left">
      <div class="row">
        <div class="xsmall-12 small-3 columns">
          <div class="link-wrapper">
            <a href="{{ "/about-lookbookhq" | prepend: site.baseurl }}"><strong>About</strong></a>
          </div>
          <div class="link-wrapper">
            <a href="{{ "/about-lookbookhq/#leadership" | prepend: site.baseurl }}">Leadership</a>
          </div>
          <div class="link-wrapper">
            <a href="{{ "/about-lookbookhq/#jobs" | prepend: site.baseurl }}">Careers</a>
          </div>
          <div class="link-wrapper">
            <a href="{{ "/about-lookbookhq/#contactus" | prepend: site.baseurl }}">Contact</a>
          </div>
        </div>

        <div class="xsmall-12 small-3 columns">
          <a href="{{ "/services" | prepend: site.baseurl }}"><strong>Services</strong></a>
        </div>

        <div class="xsmall-12 small-3 columns">
          <a href="{{ "/resources" | prepend: site.baseurl }}"><strong>Resources</strong></a>
        </div>

        <div class="xsmall-12 small-3 columns">
          <a href="{{ "/blog" | prepend: site.baseurl }}"><strong>Blog</strong></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row site-footer-bottom">
    <div class="xsmall-12 columns xsmall-text-center small-text-left">
      <p>© 2015 LookBookHQ Inc. <br>
        <a href="{{ "/terms-of-service" | prepend: site.baseurl }}">Terms Of Service</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="{{ "/privacy-policy" | prepend: site.baseurl }}">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
