<footer class="site-footer">

  <a class="site-lockup footer" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/logo-white.png" alt="{{ site.title }}">
    <span class="hidden">{{ site.title }}</span>
  </a>

  <div class="row">
    <div class="small-3 columns">
      <a href="/solution-1"><strong>Solution</strong></a>
      <a href="http://lookbookhq.com/solution-1/#effective">Content Experiences</a>
      <a href="http://lookbookhq.com/solution-1/#engagement">Engagement Metrics</a>
      <a href="http://lookbookhq.com/solution-1/#intergrations">Seamless Integrations</a>
      <a href="http://lookbookhq.com/solution-1/#interface">Intuitive Interface</a>
    </div>

    <div class="small-9 columns">
      <div class="row">
        <div class="small-2 columns">
          <a href="/about-lookbookhq"><strong>About</strong></a>
          <a href="http://lookbookhq.com/about-lookbookhq/#leadership">Leadership</a>
          <a href="http://lookbookhq.com/about-lookbookhq/#jobs">Careers</a>
          <a href="http://lookbookhq.com/about-lookbookhq/#contactus">Contact</a>
        </div>

        <div class="small-2 columns">
          <a href="/services-1"><strong>Services</strong></a>
        </div>

        <div class="small-2 columns">
          <a href="/resources"><strong>Resources</strong></a>
        </div>

        <div class="small-3 columns">
          <a href="/blog"><strong>Blog</strong></a>
        </div>
      </div>
    </div>
  </div>

  <p>© 2015 LookBookHQ Inc. <br>
    <a href="/terms-of-service">Terms Of Service</a> &nbsp; &nbsp;| &nbsp; &nbsp;<a href="/privacy-policy">Privacy Policy</a>
  </p>
</footer>
