<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | prepend: site.baseurl }}?">

  <link rel="stylesheet" href="{{ "/css/vendor/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% if page_type == "home" or page_type == "post" or page_type == "solution" %}
  <link rel="stylesheet" href="{{ "/css/vendor/owl.transitions.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/vendor/owl.carousel.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/vendor/owl.theme.css" | prepend: site.baseurl }}">
  {% endif %}
  {% if page_type == "demo" %}
  <style type="text/css" media="screen" >.LV_validation_message{ font-weight:bold; margin: 0 0 0 5px; }
  .LV_valid{ color:#00CC00; display:none; }
  .LV_invalid{ color:#CC0000; font-size:10px; }
  .LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active { outline: 1px solid #00CC00; }
  .LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active { outline: 1px solid #CC0000; }</style>
  {% endif %}
  <script type="text/javascript" src="{{ "/scripts/vendor/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script type="text/javascript" src="{{ "/scripts/vendor/modernizr.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script type="text/javascript" src="{{ "/scripts/site.js" | prepend: site.baseurl }}" type="text/javascript"></script>

  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
    { (i[r].q=i[r].q||[]).push(arguments)}
    ,i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-37850106-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript">
    var _elqQ = _elqQ || [];
    _elqQ.push(['elqSetSiteId', '1601023901']);
    _elqQ.push(['elqTrackPageView']);
    _elqQ.push(['elqUseFirstPartyCookie', 'engage.lookbookhq.com']);
    (function () {
    function async_load()
    { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'http:///img.en25.com/i/elqCfg.min.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }
    if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
    else if (window.attachEvent) window.attachEvent('onload', async_load);
    })();
  </script>
</head>
