<header class="site-header at-top">

  <div class="site-lockup-wrapper">
    <a class="site-lockup" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/logo-gray.png" alt="{{ site.title }}">
      <span class="hidden">{{ site.title }}</span>
    </a>
  </div>

  <nav class="site-nav">
    <div class="header-nav">
      <a class="page-link" href="/solution/">Solution</a>
      <a class="page-link" href="/services/">Services</a>
      <a class="page-link" href="/about-lookbookhq/">About</a>
      <a class="page-link" href="/resources/">Resources</a>
      <a class="page-link" href="/blog/">Blog</a>
      <a class="page-link" href="/demo/">Take A Demo</a>
    </div>
  </nav>

  <div id="sidenav-trigger"><span class="hidden">MENU</span>
    <span class="hamburger">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </span>
  </div>

</header>
