<header class="site-header at-top">

  <div class="site-lockup-wrapper">
    <a class="site-lockup" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/logo-gray.png" alt="{{ site.title }}">
      <span class="hidden">{{ site.title }}</span>
    </a>
  </div>

  <nav class="site-nav">
    <div class="header-nav">
      {% assign pages = site.pages | sort: 'page_id' %}
      {% for page in pages %}
      {% if page.label != 'Home' and page.layout == 'default' %}
        {% if page.label %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.label }}</a>
        {% else %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </nav>

  <div id="sidenav-trigger"><span class="hidden">MENU</span>
    <span class="hamburger">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </span>
  </div>

</header>
