<header class="site-header at-top">

  <div class="site-lockup-wrapper">
    <a class="site-lockup" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/logo-gray.png" alt="{{ site.title }}">
      <span class="hidden">{{ site.title }}</span>
    </a>
  </div>

  <nav class="site-nav">
    <div class="header-nav">
      <a class="page-link" href="{{ "/solution" | prepend: site.baseurl }}">Solution</a>
      <a class="page-link" href="{{ "/services" | prepend: site.baseurl }}">Services</a>
      <a class="page-link" href="{{ "/about-lookbookhq" | prepend: site.baseurl }}">About</a>
      <a class="page-link" href="{{ "/resources" | prepend: site.baseurl }}">Resources</a>
      <a class="page-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
      <a class="page-link" href="{{ "/demo" | prepend: site.baseurl }}">Take A Demo</a>
    </div>
  </nav>

  <div id="sidenav-trigger"><span class="hidden">MENU</span>
    <span class="hamburger">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </span>
  </div>

</header>
