
    <div id="sideNav">
      <div class="sidenav-wrapper">
        <nav class="mobile-nav">
          <div class="link-wrapper">
            <a class="page-link" href="{{ "/solution" | prepend: site.baseurl }}">Solution</a>
          </div>
          <div class="link-wrapper">
            <a class="page-link" href="{{ "/services" | prepend: site.baseurl }}">Services</a>
          </div>
          <div class="link-wrapper">
            <a class="page-link" href="{{ "/about-lookbookhq" | prepend: site.baseurl }}">About</a>
          </div>
          <div class="link-wrapper">
            <a class="page-link" href="{{ "/resources" | prepend: site.baseurl }}">Resources</a>
          </div>
          <div class="link-wrapper">
            <a class="page-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
          </div>
          <div class="link-wrapper">
            <a class="page-link" href="{{ "/demo" | prepend: site.baseurl }}">Take A Demo</a>
          </div>
        </nav>
      </div>
    </div>
