/**
 * Reset some basic elements
 */
*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * typography
 */
h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	font-weight: 300;
}

h1,
.alpha {
  font-size: em(45);
  color: $teal;
  line-height: 1.2;
}

h2,
.beta {
  font-size: em(30);
  color: $teal;
  line-height: 1.2;
}

h3,
.gamma {
  font-size: em(23);
  color: $text-color;
  line-height: 1.4;
}

h4,
.delta {
  font-size: em(20);
  color: $teal;
  line-height: 1.2;
}

h5,
.epsilon {
  font-size: em(16);
  color: $text-color;
  line-height: 1.4;
}
//
// h6,
// .zeta {
// }

// p {
// }

p,
li {
  font-size: em(16);
  color: $text-color;
  font-weight: $base-font-weight;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 10%);
  }
}

blockquote {
  margin-left: 40px;
  font-size: em(16);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  font-size: 15px;
  border: 1px solid $grey-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

strong {
  font-weight: 700;
}

iframe {
  display: block;
}


/**
 * Utility classes
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.hidden,
%hidden {
  display: none;
}

.inline,
%inline {
  display: inline-block;
}

.no-scroll {
	overflow: hidden;
	height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/**
 * Common Elements
 */
.site-lockup {
  width: 245px;
  display: inline-block;

  img {
    width: 245px;
  }

  &.footer {

    img {
      width: 295px;
    }
  }
}

.page-link {
  font-size: em(14);
  text-transform: uppercase;
  font-weight: 700;
  color: $grey;
  letter-spacing: 2px;
}

.fade-in-element {
  @include transition(opacity 0.6s ease-in-out);
}

.fade-element-hide {
  opacity: 0;
}

.fade-element-show {
  opacity: 1;
}
