%btn-solid {
  color: $white;
  @include border-width(0);
}

%btn-outline {
  border-width: 2px;
  border-style: solid;
}

.btn,
%btn,
a.btn,
button,
input[type="submit"] {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  @include transition(background .2s ease-in-out, border .2s ease-in-out);

  &:hover {
    color: $white;
  }
}

.btn-large,
%btn-large {
  font-size: em(20);
  padding: 23px 44px;
}

.btn-medium,
%btn-medium {
  font-size: em(15);
  padding: 19px 32px;
}

.btn-small,
%btn-small {
  font-size: em(12);
  font-weight: 500;
  padding: 11px 24px;
}

.btn-solid {

  &-teal {
    @extend %btn-solid;
    background: $teal;

    &:hover {
      background: rgba(0, 160, 193, 0.8);
    }
  }

  &-navy {
    @extend %btn-solid;
    background: $text-color;

    &:hover {
      background: rgba(35, 53, 88, 0.8);
    }
  }

  &-orange {
    @extend %btn-solid;
    background: $orange;

    &:hover {
      background: rgba(244, 153, 30, 0.8);
    }
  }

  &-dk-teal {
    @extend %btn-solid;
    background: #0A809F;

    &:hover {
      background: rgba(10, 128, 159, 0.8);
    }
  }
}

.btn-outline {

  &:hover {
    color: $white;
  }

  &-teal {
    @extend %btn-outline;
    @include border-color($teal);
    color: $teal;

    &:hover {
      background: $teal;
      @include border-color($teal);
    }
  }

  &-navy {
    @extend %btn-outline;
    @include border-color($text-color);
    color: $text-color;

    &:hover {
      background: $text-color;
      @include border-color($text-color);
    }
  }

  &-orange {
    @extend %btn-outline;
    @include border-color($orange);
    color: $orange;

    &:hover {
      background: $orange;
      @include border-color($orange);
    }
  }
}
