.button,
%button,
a.button,
button,
input[type="submit"] {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  @include transition(background .2s ease-in-out, border .2s ease-in-out);

  &.large,
  &%large {
    font-size: em(20);
    padding: 25px 46px;
  }

  &.medium,
  &%medium {
    font-size: em(15);
    padding: 21px 34px;
  }

  &.small,
  &%small {
    font-size: em(12);
    font-weight: 500;
    padding: 13px 26px;
  }

  &.solid,
  &%solid {
    color: $white;
    @include border-width(0);

    &-teal {
      background: $teal;

      &:hover {
        background: rgba(0, 160, 193, 0.8);
      }
    }

    &-navy {
      background: $text-color;

      &:hover {
        background: rgba(35, 53, 88, 0.8);
      }
    }

    &-orange {
      background: $orange;

      &:hover {
        background: rgba(244, 153, 30, 0.8);
      }
    }
  }

  &.outline
  &%outline {
    @include border-width(2px);

    &:hover {
      color: $white;
    }

    &-teal {
      @include border-color($teal);
      color: $teal;

      &:hover {
        background: $teal;
      }
    }

    &-navy {
      @include border-color($text-color);
      color: $text-color;

      &:hover {
        background: $text-color;
      }
    }

    &-orange {
      @include border-color($orange);
      color: $orange;

      &:hover {
        background: $orange;
      }
    }
  }
}
