/**
 * Type and Spacing
 */
$base-font-family: "Raleway", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$on-palm:          641px;
$on-laptop:        800px;


/**
 * Colours
 */
$white:            #fff;
$text-color:       #233558;
$background-color: #fdfdfd;

$link-color:       #fabf14;
$orange:           #f4991e;

$teal:             #00a0c1;
$light-navy:       #344c77;
$mint:             #b8ded7;

$grey:             #383838;
$grey-light:       lighten($grey, 40%);
$grey-dark:        darken($grey, 25%);
