.demo-hero {
  padding-top: 25px;
  padding-bottom: 20px;

  @media only screen and (min-width: ($smallScreen + 1) + px) {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .row > div {

    &:first-child {

      @include media-query($smallScreen) {
        padding-bottom: 0;
      }
    }

    &:last-child {

      @include media-query($smallScreen) {
        padding-top: 10px;
      }
    }
  }

  h1 {
    color: $link-color;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }
}
