.home-hero {

  .columns:first-child {
    padding-top: 50px;
  }

  .column-image-bottom {
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn.btn-small {
    margin-top: 20px;
  }

  @include media-query($largeScreen) {
    .btn.btn-small {
      margin-bottom: 20px;
    }
  }

  @media only screen and (min-width: (($largeScreen + 1) + px)) {

    .column-image-bottom {
      padding-top: 160px;
    }

    .columns:first-child {
      padding-top: 100px;
    }
  }
}

.home-binge {
  padding-top: 40px;

  > .row .columns {
    padding-bottom: 15px;
  }
}

.home-moment {
  padding-top: 30px;
  padding-bottom: 50px;
}

.home-return {
  padding-top: 30px;
  padding-bottom: 80px;

  > .row:first-child .columns {
    padding-bottom: 0;
  }

  .btn.btn-medium {
    margin-top: 40px;
  }
}

.home-clients {
  padding-top: 20px;

  @media only screen and (min-width: (($largeScreen + 1) + px)) {
    .column-image-bottom {
      padding-top: 90px;
      padding-bottom: 0;
    }
  }
}

.logo-carousel-wrapper {
  
  @media only screen and (min-width: (($largeScreen + 1) + px)) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.home-review {
  padding-top: 40px;
  padding-bottom: 30px;

  > .row .columns:last-child {

    @include media-query($smallScreen) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.home-embeds {
  padding-top: 20px;
  padding-bottom: 60px;

  .lb-unity-wrapper {
    display: inline-block;
  }

  .embed-wrapper {
    padding-top: 10px;

    h6 {
      margin-bottom: 30px;
    }

    @media only screen and (min-width: (($largeScreen + 1) + px)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
