article.post {
  padding-top: 100px;

  time {
    display: block;
    color: $blue;
    margin-bottom: 10px;
  }

  h1 {
    margin-bottom: 30px;

    a {
      color: $text-color;

      &:hover {
        color: $text-color;
      }
    }
  }

  ul, ol {
    margin-left: 40px;
  }
}

.post-image {
  margin-bottom: 35px;
}

.post-metadata {

  p {
    color: $blue;
  }

  a {
    color: $blue;

    &:hover {
      color: $link-color;
    }
  }

  .likes,
  .share {
    color: $teal;

    i {
      margin-right: 8px;
    }
  }

  .likes {
    margin-right: 20px;
  }
}

.latest-posts {
  padding-top: 30px;
  padding-bottom: 40px;

  .heading {
    font-size: em(14);
    margin-left: 8px;
  }

  .heading, .owlnav {
    margin-bottom: 10px;
  }

  p {
    color: $blue;
  }

  .owlnav {
    float: right;
    margin-right: 8px;

    i {
      color: #6D7D9A;
      font-size: 28px;
    }
  }

  .custom-owlnav {
    cursor: pointer;

    &.prev {
      margin-right: 15px;
    }
  }

  .owl-wrapper {

    > div {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .recent-post-link {
    margin-top: 10px;

    a {
      font-size: em(14);
      color: $blue;

      &:hover {
        color: $link-color;
      }
    }
  }
}

.bottom-post-nav {
  padding-top: 90px;
  padding-bottom: 40px;

  p {
    margin-bottom: 2px;
  }
}
