.solution-hero {
  padding-top: 40px;

  .columns:last-child {
    padding-bottom: 20px;
  }
}

.solution-previews {

  &:after {
    content: "";
    display: block;
    background: $grey-light;
    height: 80px;

    @include media-query($smallScreen) {
      height: 50px;
    }

    @include media-query($mediumScreen) {
      height: 40px;
    }

    @include media-query($largeScreen) {
      height: 30px;
    }
  }

  .columns {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .solution-previews-experience .columns {
    padding-top: 80px;
  }

  .owl-theme .owl-controls {
    margin: 0;
  }

  .owl-theme .owl-controls .owl-buttons div {
    background: #eee;
    background: rgba(0,0,0,.25);
    font-size: 38px;
    padding: 2px 14px;
    border-radius: 0;
    margin: 0;
    @include transition(opacity 0.2s ease-in-out);
  }

  .owl-theme .owl-controls .owl-buttons .owl-prev,
  .owl-theme .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -30px;
  }

  .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
  }

  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
  }

  h3 {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 35px;
  }
}
