.thanks-hero {
  padding-top: 20px;
  padding-bottom: 30px;

  @media only screen and (min-width: ($smallScreen + 1) + px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  h1 {
    color: $mint;
  }

  a {
    text-transform: uppercase;
  }

  img {
    display: block;
    margin: 30px auto 0;

    @include media-query($smallScreen) {
      max-width: 70%;
    }
  }
}
