body.home {

  .hero {

    .btn {
      opacity: 0.8;
    }

    .col,.column,.columns {
      padding-top: 100px;
    }

    .col-monitor {
      padding-top: 150px;
      padding-bottom: 0px;
    }
  }
}
