body.home {

  .hero {

    .btn {
      opacity: 0.8;
    }

    .col,.column,.columns {
      padding-top: 100px;
    }
  }

  @media only screen and (min-width: ($largeScreen + px)) {
    .column-image-bottom {
      padding-top: 130px !important;
      padding-bottom: 0px;
    }
  }
}
