article.post {
  padding-top: 100px;
  padding-bottom: 90px;

  time {
    display: block;
    color: $blue;
    margin-bottom: 10px;
  }

  h1 {
    margin-bottom: 30px;

    a {
      color: $text-color;

      &:hover {
        color: $text-color;
      }
    }
  }
}

.post-metadata {

  p {
    color: $blue;
  }

  a {
    color: $blue;

    &:hover {
      color: $link-color;
    }
  }

  .likes,
  .share {
    color: $teal;

    i {
      margin-right: 8px;
    }
  }

  .likes {
    margin-right: 20px;
  }
}
