---
layout: default
body_class: blog
title: BLOG - LookBookHQ #goes in the head tag
label: Blog #used in navigation
---

<h1 class="page-heading">Blog</h1>

<div>
  {% for featured in site.categories.featured limit:1 %}
    <span class="post-meta">{{ featured.date | date: "%b %-d, %Y" }}</span>

    <h1>
      <a class="post-link" href="{{ featured.url | prepend: site.baseurl }}">{{ featured.title }}</a>
    </h1>
  {% endfor %}
</div>

<ul class="post-list">
  {% for post in site.posts %}
    <li>{{post.catgories | join ", "}}
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
  {% endfor %}
</ul>
