.pre-footer {

  .small-5.columns {
    padding-top: 52px;
  }

  .small-7.columns {
    padding: 0;
  }

  .btn {
    margin-top: 22px;
  }
}

footer.site-footer {
  padding: 64px 32px;

  a {
    color: $white;

    &:hover {
      color: rgba(255,255,255, 0.8);
    }
  }
}

.site-footer-top {
  margin-top: 24px;
  margin-bottom: 60px;
}

.site-footer-links {

  .small-3.columns {
    margin-bottom: 30px;
  }
}

.site-footer-bottom {
  margin-top: 10px;
}

.footer-social-media-links {
  display: inline-block;

  &:hover {

    a {
      background: rgba(255,255,255, 0.6);
    }
  }

  a {
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    background: $white;
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 10px;
    @include transition(background .2s ease);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $white;
    }

    &:before {
      color: $text-color;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
    }

    &.fa-twitter:before {
      font-size: 26px;
      margin-top: -13px;
      margin-left: -12px;
    }
    &.fa-facebook:before {
      font-size: 26px;
      margin-top: -13px;
      margin-left: -7px;
    }
    &.fa-linkedin:before {
      font-size: 24px;
      margin-top: -13px;
      margin-left: -10px;
    }
  }

  &:hover {

  }
}
