header.site-header {
  background: $white;
  padding: 20px 20px;
  position: relative;
  display: table;
  width: 100%;

  &.fixed {
    position: absolute;
    top: 0;
    left: 0;
  }

  .page-link {
    font-size: em(14);
    text-transform: uppercase;
    font-weight: 700;
    color: $grey;
    letter-spacing: 2px;
  }
}

.site-lockup {
  display: table-cell;
  vertical-align: middle;
}

.site-nav {
  vertical-align: middle;
  display: table-cell;
  text-align: right;

  @include media-query(990) {
    display: none;
  }
}

.header-nav {

  a {
    padding: 10px 14px;
  }

  a:last-child {
    @extend %btn;
    @extend %btn-outline;
    padding: 12px 19px;
    color: $teal;
    margin-left: 10px;

    &:hover {
      background: $teal;
      @include border-color($teal);
    }
  }
}

#sidenav-trigger {
  vertical-align: middle;
  display: none;
  text-align: right;

  @include media-query(990) {
    display: table-cell;
  }
}
