<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include sidenav.html %}
  {% assign page_type = page.body_class %}

  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>

    {% include header.html %}

    <div id="page">
      {{ content }}

      {% include footer.html %}
    </div>

    {% if page_type == post %}<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5518711a5be4cb59" async="async"></script>{% endif %}
  </body>

</html>
