---
layout: default
---
<article class="post">
  <div class="row">
    <div class="xsmall-12 xsmall-uncentered small-10 small-centered columns">

      <header class="post-header text-center">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
        <h1 class="post-title" itemprop="name headline"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
        <!-- <p class="post-meta">{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p> -->
      </header>

      {{ content }}
    </div>
  </div>
</article>

<section class="latest-posts">

</section>

<section class="post-comments">
  
</section>
