header.site-header {
  background: $white;
  padding: 0 20px;
  position: relative;
  display: table;
  width: 100%;
  height: 86px;
  z-index: 10000;
  @include transition(top .3s ease, left .1s ease-in-out);

  @include media-query(990) {
    height: 75px;
  }

  &.at-top {
    top: -86px;
    margin-top: 86px;

    @include media-query(990) {
      top: -75px;
      margin-top: 75px;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;

    ~ #page {
      margin-top: 86px;

      @include media-query(990) {
        margin-top: 75px;
      }
    }
  }
}

.site-lockup-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.site-nav {
  vertical-align: middle;
  display: table-cell;
  text-align: right;

  @include media-query(990) {
    display: none;
  }
}

.header-nav {

  a {
    padding: 10px 14px;
  }

  a:last-child {
    @extend %btn;
    @extend %btn-outline;
    padding: 12px 19px;
    margin-left: 10px;
    color: $teal;

    &:hover {
      background: $teal;
      @include border-color($teal);
    }
  }
}

#sidenav-trigger {
  vertical-align: middle;
  display: none;
  text-align: right;
  width: 22px;

  @include media-query(990) {
    display: table-cell;
  }

  &.opened {

    .hamburger {

      .top {
        @include transform(rotate(45deg));
        margin-top: 0;
      }

      .middle {
        display: none;
      }

      .bottom {
        @include transform(rotate(-45deg));
        margin-top: 0;
      }
    }
  }
}

.hamburger {
  position: relative;
  display: block;
  height: 16px;
  cursor: pointer;

  span {
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #1c1c1c;
    right: 0;
    top: 50%;
    @include transition(transform 0.1s ease, margin-top 0.1s ease);
  }

  .top {
    margin-top: -7px;
  }

  .bottom {
    margin-top: 7px;
  }
}
